<h1>Location Update</h1>

<form action="/users/updateLocation" method="post">

	<div class="field">
		<label>Token:</label>
		<input type="text" name="auth_token">
	</div>

	<div class="field">
		<label>latitude:</label>
		<input type="text" name="latitude">
	</div>

	<div class="field">
		<label>longitude:</label>
		<input type="text" name="longitude"> 
	</div>

	<div class="actions">
		<input type="submit" name="submit" value="save">
	</div>
</form>
