<h1>Promotion Code</h1>

<form action="/promotion_code/create" method="post">

	<div class="field">
		<label>Eamil:</label>
		<input type="text" name="email">
  </div>

  <div class="field">
		<label>promo_code:</label>
		<input type="text" name="promo_code"> 
  <div class="actions">
		<input type="submit" name="submit" value="save">
  </div>
</form>
